$primary-colour: #c32c72;
$secondary-color: #e2e2e2;
$font-colour: #8d8d8d;
$font-colour-dark: #262626;
$white: #ffffff;
$background-color: #f4f3ee;
$background-color-dark: #e5e5e5;
$navbar-light-active-color: $primary-colour;
$navbar-light-brand-color: $font-colour-dark;
